# Folders
.vs/
.vscode/
.idea/
out/
build/
cmake-build-debug/**/*
Libraries/
MyAssets/
museumAssets/
external/
Logs/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# KDevelop project files
*.kdev4
.kdev4/

# Compiled documentation
Documentation/Doc/
Documentation/Doxywarnings.txt

CMakeSettings.json

# vcpkg
/installed*/
/vcpkg_installed*/
/packages/
/scripts/buildsystems/tmp/
#ignore custom triplets
/triplets/*
#add vcpkg-designed triplets back in
!/triplets/arm-uwp.cmake
!/triplets/arm64-windows.cmake
!/triplets/x64-linux.cmake
!/triplets/x64-osx.cmake
!/triplets/x64-uwp.cmake
!/triplets/x64-windows-static.cmake
!/triplets/x64-windows.cmake
!/triplets/x86-windows.cmake

!/triplets/community
!/triplets/community/**

*.exe
*.zip